h1{
   text-align: center;
}
h6{
   text-align: center;
}

input{
   width: 100%;
   padding: 10px;
   border: 2px solid #ccc;
   border-radius: 15px; /* Makes the border curved */
   box-sizing: border-box;
   
}
#logo{
   display: flex;
justify-content: center;
gap: 5px;
}
a{
   text-align: center;
}

.link-container {
   display: flex; /* Enable flexbox */
   justify-content: center; /* Center the link horizontally */
   margin-top: 10px;}

#container{
   display:flex;
   
}
#box1{
   height:100vh;
   width:100vb;
   border: 2px  black;
 background-image: url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fHJhbmRvbXxlbnwwfHwwfHx8Mg%3D%3D);
background-size:cover;
}
#box2{
 
   height:100vh;
   width:100vb;
   text-align: end;
   border: 2px  rgb(143, 71, 71);
   background-color: rgb(61, 185, 117);
   background-image:url(//images.unsplash.com/photo-1494475673543-6a6a27143fc8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHJhbmRvbXxlbnwwfHwwfHx8Mg%3D%3D);
   
}
button{
   margin: 40%;
   height: 50px;
   width: 100px;
   border-radius: 10%;
}